.navbar-light .navbar-nav .nav-link {
    font-family: Barlow, sans-serif;
    padding: 35px 15px;
    font-size: 15px;
    text-transform: uppercase;
    color: var(--dark);
    outline: 0;
    transition: 0.5s;
}

navbar-nav .nav-link:hover {
    color: red !important;
}

.get-quote:hover {
    color: black !important;
}

.nav-link .nav-item {
    position: fixed !important;
}

.consult {
    font-size: 60px;
}

h1 {
    font-weight: 700 !important;
}

.header {
    position: fixed !important;
    top: 0px !important;
    right: 0px !important;
    z-index: 999;
    left: 0 !important;
}

.button:hover {
    color: black !important;
}

.service-item {
    position: relative;
    overflow: hidden;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.service-item:hover::after {
    bottom: -25px;
}

.service-item::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 50px;
    bottom: -50px;
    left: 0;
    background: var(--light);
    border-radius: 100% 100% 0 0;
    box-shadow: 0 -10px 5px #eee;
    transition: 0.5s;
}

.form-control:focus:focus {
    color: #6b6a75;
    background-color: #fff;
    border-color: #f9a9ad;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(243, 82, 90, 0.25);
}

.form-select:focus:focus {
    color: #6b6a75;
    background-color: #fff;
    border-color: #f9a9ad;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(243, 82, 90, 0.25);
}

.btn.btn-danger:hover {
    color: black !important;
    background-color: red;
}

.carousel-caption {
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    z-index: 1 !important;
    background: rgba(21, 36, 64, 0.7);
}

.w-116 {
    transition: all 0.3s ease-in-out;
    transform: translate(-94%);
}

.team-item:hover .w-116 {
    /* transition: all 0.3s ease-in-out; */
    transform: translate(0%);
}

.arrow-right {
    width: 0;
    height: 0;
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;
    border-left: 60px solid #dc3545;
}

.w-116 {
    width: 116% !important;
}

.py-6 {
    padding-top: 90px;
    padding-bottom: 90px;
}

/* ///////////////////////////////////// */

.main-content {
    position: relative;
}

.main-content .owl-theme .custom-nav {
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
}

.main-content .owl-theme .custom-nav .owl-prev,
.main-content .owl-theme .custom-nav .owl-next {
    position: absolute;
    height: 100px;
    color: inherit;
    background: none;
    border: none;
    z-index: 100;
}

.main-content .owl-theme .custom-nav .owl-prev i,
.main-content .owl-theme .custom-nav .owl-next i {
    font-size: 2.5rem;
    color: #cecece;
}

.main-content .owl-theme .custom-nav .owl-prev {
    left: 0;
}

.main-content .owl-theme .custom-nav .owl-next {
    right: 0;
}

.img_box img {
    width: 100px;
    border-radius: 50px;
}

.open_click {
    width: 50px;
    height: 52px;
    border-radius: 30px;
    background: rgb(255, 99, 99);
    color: #fff;
    margin: 10px 15px 0px 0px;
}

h1 {
    font-weight: 700 !important;
}

.testimonial-carousel .owl-item img {
    width: 50px;
    height: 50px;
}

.testimonial-carousel .owl-nav .owl-next,
.testimonial-carousel .owl-nav .owl-prev {
    position: relative;
    margin: 0 5px;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: var(--primary);
    font-size: 22px;
    border-radius: 45px;
    transition: 0.5s;
}

.testimonial-carousel .owl-nav .owl-prev {
    position: relative;
    margin: 0.5px;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #dc3545;
    font-size: 16px;
    border-radius: 45px;
    transition: 0.2s;
}

.testimonial-carousel .owl-nav .owl-next {
    position: relative;
    margin: 0.5px;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #dc3545;
    font-size: 16px;
    border-radius: 45px;
    transition: 0.2s;
}

.testimonial-carousel .owl-nav {
    display: flex;
    justify-content: start;
}

.para1 {
    color: #198754;
}

.owl-item {
    transition: all 0.3s ease-in-out;
}

.owl-nav i:hover {
    color: black;
}

.h4 {
    color: black;
}

.h4:hover {
    color: #dc3545;
}

.blog-item img {
    transition: 0.5s;
    transform: scale(1.5s);
}

.blog-item img:hover {
    transform: scale(1.1);
    transition: all 0.3sec;
}

.my__img {
    aspect-ratio: 2/1 !important;
    object-fit: cover;
}

@media screen and (max-width: 1950px) {
    .my__img {
        aspect-ratio: 2/1 !important;
        object-fit: cover;
    }
}

@media screen and (max-width: 1650px) {
    .my__img {
        aspect-ratio: 5/4 !important;
        object-fit: cover;
    }
}

@media screen and (max-width: 1200px) {
    .my__img {
        aspect-ratio: 20/10 !important;
        object-fit: cover;
    }
}